
<a href="home/details">Details</a>
<br />
<a href="home/validate">Validate</a>
<br />
<a href="swagger">Swagger</a>
<br />
<a href="home/test">Loop test for normal distribution</a>
<br />
<a href="home/jwt">test jwt</a>